.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ebe8ec;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tyButton {
  background-color: #bba579;
  color:#faecde;
  border: 5px solid #816544;

  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  cursor:pointer;
  margin-bottom: 5px;
}

.tyButton:hover {
  background-color: #ebe8ec;
  color:#584f5d;
}

.off {
  background-color: #303030;
  color:#584f5d;
}

body { 
  padding-top: 200; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4d5b6;

}
canvas { 
  display: block;
  border: solid 5px #9c9b5d;
}

label {
  color: #1f190f;
}